.heading {
    padding: 35px 20px 20px;
}
.center {
    margin: auto;
}
.ourStoryAndEthos {
    padding: 60px 0px 100px;
}
@media (max-width: 768px) {
  .ourStoryAndEthos {
    padding: 10px 0px 0px;
  }
}