.loaderContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #5b272f; 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow: hidden;
}

.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100vw;
}

.mask {
  overflow: hidden;
  position: relative;
  display: inline-block;
  margin: 0 45px; 
}

.text {
  display: block;
}

.middleIcon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 38px;
  overflow: hidden; 
  display: flex;
  justify-content: center;
  align-items: center;
}