.loaderContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #5b272f; 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow: hidden;
}
.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100vw;
}
.mask {
  overflow: hidden;
  position: relative;
  display: inline-block;
  margin: 0 45px; 
}
.text {
  display: block;
}
.middleIcon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 38px;
  overflow: hidden; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftSVG {
  width: 166px;
  height: 31px;
}
.middleSVG {
  width: 60px;
  height: 38px;
}
.rightSVG {
  width: 162px;
  height: 30px;
}
@media (max-width: 768px) {
  .leftSVG {
    width: 81.34px;
    height: 15.52px;
  }
  .middleSVG {
    width: 27.49px;
    height: 13.14px;
  }
  .rightSVG {
    width: 79.48px;
    height: 14.81px;
  }
  .mask {
    margin: 0 30px; 
  }
  .middleIcon {
    width: 30px;
    height: 16px;
    top: 40%;
  }
}