.preloader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #422126;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  color: #e6e6e6;
  overflow: hidden;
}

.brand-text {
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  position: absolute;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .brand-text {
    font-size: 3.5rem;
  }
}

.logo-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e6e6e6;
}