.journalCard {
    text-align: center;
    max-width: 425px;
    margin: 0 auto;
}
.imageWrapper {
    padding: 44px 0px;
}
.description {
    margin-bottom: 44px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}
@media (max-width: 768px) {
    .journalCard {
        padding: 0 20px;
    }
}