
.social ul {
  display: flex;
}
.social ul li {
  font-size: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-right: 19px;
}
.social ul li img {
  margin-bottom: 5px;
}
/* --- Mobile Styles --- */
@media (max-width: 980px) {
  /* .social {
    padding-bottom: 93px;
  } */
}