.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 40px;
}

.card {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.image {
  object-fit: cover;
}

.info {
  /* position: absolute;
  bottom: 20px;
  left: 20px;*/
  color: #000; 
}
