.pageWrapper {
  display: grid;
  grid-template-columns: 315px 1fr 315px; 
  width: 100%;
}
.leftColumn,
.rightColumn {
  position: sticky;
  top: 0;
  height: 100vh; 
  align-self: start; 
}
.middleColumn {
  width: 100%;
  /* width: 800px; */
  position: relative;
  overflow: hidden;
  border-left: 1px solid #D0D0D0;
  border-right: 1px solid #D0D0D0;
}
.specification {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
    color: #000;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.specification label {
    display: block;
    color: #6C5D50;
}
.bottomWrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.materials {
    font-size: 12px;
    line-height: 18px;
    color: #000;
}
.materials ol {
    color: #6C5D50;
    padding-left: 15px;
    line-height: 18px;
}
.materialsPhoto {
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.gallery {
  padding: 20px;
}
.gallery .imageWrapper {
    height: calc(100vh - 53px);
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    text-align: center;
    position: relative;
    overflow: hidden;
}
.gallery .imageWrapper img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 120px 20px;
  padding: 20px;
}
.grid > *:nth-child(3n + 1) {
  justify-self: start;
}
.grid > *:nth-child(3n + 2) {
  justify-self: center;
}
.grid > *:nth-child(3n + 3) {
  justify-self: end;
}
.leftGallery {
  overflow: hidden;
}
.galleryBlock {
  overflow-y: auto;
  max-height: 295px;
  width: 114%;
}
.detailWrapper {
  padding: 24px 16px;
}
.paragraph {
  padding-top: 20px;
}
.paragraph p {
  padding-bottom: 20px;
}
.paragraph p:last-child {
  padding-bottom: 0px;
}
@media (max-width: 980px) {
  .gallery .imageWrapper {
    height: auto;
    padding: 8px 0px;
  }
  .gallery .imageWrapper img {
    position: static;
    transform: none;
    max-height: fit-content;
    margin: 0px auto;
  }
  .specification {
    padding: 40px 0;
  }
  .gallery {
   padding: 40px 0; 
  }
  .productImg {
    margin-bottom: 50px;
  }
}