.card {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.image {
  object-fit: cover;
}

.info {
  color: #000; 
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 120px 20px;
  padding: 20px;
}
.grid > * {
  max-width: 338px;
}
.grid > *:nth-child(3n + 1) {
  justify-self: start; /* Left aligned */
}
.grid > *:nth-child(3n + 2) {
  justify-self: center; /* Center aligned */
}
.grid > *:nth-child(3n + 3) {
  justify-self: end; /* Right aligned */
}

.loader {
  text-align: center;
  padding: 2rem 0;
  color: #6a5d4d;
  font-size: 0.9rem;
}
.subNav {
  display: flex;
  gap: 16px;
  padding: 20px;
}
.subNav button {
  background: none;
  border: none;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
  color: #BBAEA1;
}
.subNav button.active {
  color: #6C5D50;
}
@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid > * {
    justify-self: center !important;
  }
}
@media (max-width: 768px) {
  .grid {
    gap: 90px;
  }
}
@media (max-width: 640px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .grid > * {
    justify-self: center !important;
  }
}