.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 120px 20px;
  padding: 20px;
}
.grid > * {
  /* max-width: 338px; */
  width: 20vw;
}
.grid > *:nth-child(3n + 1) {
  justify-self: start; /* Left aligned */
}
.grid > *:nth-child(3n + 2) {
  justify-self: center; /* Center aligned */
}
.grid > *:nth-child(3n + 3) {
  justify-self: end; /* Right aligned */
}