.overlay {
    background: #0000004D;
}
.overlay,
.content,
.bgPostion {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
}
.overlay,
.content {
    z-index: 11;
}
.backgroundWrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.mainMedia {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scale(1.03);
  animation: fadeIn 0.5s ease forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(1.03);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.aestheticsList {
    position: absolute;
    top: calc(50% - 50px);
    left: 0;
    width: 100%;
    height: 100%;   
}
.description {
    max-width: 338px;
}
.listContent {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transform: translateY(10px);
    transition: all 0.5s ease;
    padding: 0px 100px;
    text-align: center;
}
.show {
  max-height: 500px;
  opacity: 1;
  transform: translateY(0);
}
.aestheticsListContent {
  text-align: center;
}
.divider {
  margin: 22px 0px;
}
.listItemHeading {
  font-weight: 300;
  margin: 0px;
  line-height: 1.2;
  font-size: 20px;
  font-family: collapselight_italic;
  transition: color .3s;
  display: inline;
  cursor: pointer;
}
@media (max-width: 980px) {
  .aestheticsContent {
    flex-direction: column;
    gap: 30px;
  }
  .aestheticsListContent {
    text-align: left;
  }
  .listItemHeading {
    padding: 0px 16px;
    position: relative;
  }
  .toggleIcon {
    position: absolute;
    right: 16px;

  }
  .listContent {
      padding: 0px 16px;
      text-align: left;
  }
  .divider {
    margin: 12px 0px;
  }
  .readMore {
    margin-bottom: 30px;
  }
}