.projectCard {
    text-align: center;
    padding: 80px 0;
}
.imageWrapper {
    margin-bottom: 24px;
}
.proTitle {
    font-family: 'collapselight_italic';
    font-size: 20px;
    line-height: normal;
    font-weight: normal;
}

/* --- Mobile Styles --- */
@media (max-width: 768px) {
    .projectCard {
        padding: 50px 0;
    }   
}