.navItem {
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 18px;
  text-transform: uppercase;
  display: grid;
  gap: 10px;
  flex-direction: column;
}
.navItem > div a {
  display: flex;
  gap: 16px;
}
.icon {
  font-family: monospace;
}