.heading {
  font-family: 'collapselight_italic';
  transition: color 0.3s ease;
}

/* Default desktop sizes */
.h1 {
  font-size: 34px;
}

.h2 {
  font-size: 28px;
}

.h3 {
  font-size: 28px;
}

.h4 {
  font-size: 20px;
}

.h5 {
  font-size: 18px;
}

.h6 {
  font-size: 16px;
}

.mainHeading {
  font-size: 44px;
}
/* Responsive sizes */
@media (max-width: 1024px) {
  .h1 {
    font-size: 40px;
  }
  .h2 {
    font-size: 30px;
  }
  .h3 {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .h1 {
    font-size: 34px;
  }
  .h2 {
    font-size: 26px;
  }
  .h3 {
    font-size: 22px;
  }
}

@media (max-width: 480px) {
  .h1 {
    font-size: 28px;
  }
  .h2 {
    font-size: 22px;
  }
  .h3 {
    font-size: 20px;
  }
}
