.container {
  display: flex;
  width: 100%;
  align-items: stretch;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
}
.leftColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 50%;
}
.rightColumn {
  flex: 1;
  position: relative;
  overflow: hidden;
  width: 50%;
}
.divider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  pointer-events: none;
}
.reverseColumns {
  flex-direction: row-reverse;
}
.verticalDivider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  pointer-events: none;
}
.horizontalDivider {
  display: none; 
  width: 100%; 
  height: 1px; 
  z-index: 2;
  pointer-events: none;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
  }

  .leftColumn,
  .rightColumn {
    flex: none;
    width: 100%;
    height: auto;
  }
  .verticalDivider {
    display: none;
  }
  .horizontalDivider {
    display: block;
  }
}
