.headerContainer {
  top: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 53px;
  position: sticky;
  padding: 0px 20px;
  transition: background-color 0.8s ease-in-out;
  top: 0;
  z-index: 12;
  backdrop-filter: blur(10px);
}
.nav > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.nav > ul > li {
  letter-spacing: 0.5px;
  font-size: 12px;
  transition: color 0.3s;
  text-transform: uppercase;
}
.menuButton {
  background: none;
  border: none;
  font-size: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.mobileLeftArea {
  display: none;
}
.leftSection {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 120px;
  z-index: 20;
}
.rightSection {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 120px;
  z-index: 20;
}
.centerSection {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.centerLogoGroup {
  display: flex;
  gap: 30px;
}
.cursorPointer {
  cursor: pointer;
}
@media (max-width: 980px) {
  .desktopMenuButton,
  .menuButton {
    display: none;
  }
  .mobileLeftArea {
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
  }
  .menuToggleButton {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 18px;
    height: 12px;
    padding: 0;
    z-index: 1001;
  }
  .hamburgerLine {
    width: 100%;
    height: 1px;
    transition: all 0.3s ease;
  }
  .nav {
    position: fixed;
    top: 53px;
    left: 0;
    transform: none !important;
    text-align: left;
    background: #5B272F;
    width: 100%;
    height: calc(100vh - 53px);
    z-index: 99;
    overflow: hidden;
  }
  .nav > ul {
    flex-direction: column;
    gap: 0;
    padding-top: 12px;
  }
  .nav > ul > li {
    position: relative;
    border-bottom: 1px solid #957579;
    overflow: hidden;
    font-size: 12px;
  }
  .nav > ul > li a,
  .navLink span {
    display: block;
    padding: 16px;
  }
  .nav > ul > li a:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.449951 5.35221H9.07106' stroke='%23EAEAE8' stroke-width='0.9' stroke-linecap='square' stroke-linejoin='round'/%3E%3Cpath d='M5.16577 0.636395L9.88159 5.35221L5.16577 10.068' stroke='%23EAEAE8' stroke-width='0.9' stroke-linecap='square' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-position: 96% center;
    background-repeat: no-repeat;
  }
  .mobileMenu {
    background: #5B272F;
    color: #FFFAF2;
    overflow: hidden;
  }
  .mobileMenu :global(.header-aesthetics) {
    background: #5B272F;
  }
  .menuBottom {
    position: absolute;
    bottom: 0;
    padding: 16px;
    border-top: 1px solid #957579;
    width: 100%;
  }
  .menuBottom :global(.text:last-child) {
    display: none;
  }
  .menuBottom :global(.social-mobile) {
    padding-bottom: 93px;
  }
}

.megaMenuWrapper {
  position: fixed; 
  top: 53px; 
  left: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
  z-index: 99999 !important; 
}

.megaMenuContent {
  padding: 20px;
  height: 254px; 
}

.megaMenuLinks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subMenuItem {
  font-size: 24px;
  line-height: 34px;
  font-weight: 300;
  font-family: 'collapselight_italic';
  text-decoration: none;
  transition: all 0.3s ease;
  display: block;
}
.megaMenuImageContainer {
  display: flex;
  align-items: center;
  justify-content: end;
  overflow: hidden;
}

@media (min-width: 768px) {
  .megaMenuContent {
    display: grid;
    grid-template-columns: 40% 60%; 
    max-width: 100%;
    margin: 0;
  }
}
@media (max-width: 768px) {
  .megaMenuLinks {
    height: 100%;
  }
  .megaMenuContent {
    height: 281px; 
  }
}