/* Font styles */
@font-face {
    font-family: 'saanslight';
    src: url('fonts/saanslight-webfont.woff2') format('woff2'),
         url('fonts/saanslight-webfont.woff') format('woff'),
         url('fonts/saanslight-webfont.svg#saanslight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'collapselight_italic';
    src: url('fonts/collapse-lightitalic-webfont.woff2') format('woff2'),
         url('fonts/collapse-lightitalic-webfont.woff') format('woff'),
         url('fonts/collapse-lightitalic-webfont.svg#collapselight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  font-family: 'saanslight';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none  ;
}

.items-center {
    align-items: center;
}
.flex-row {
    flex-direction: row;
}
.flex {
    display: flex;
}
.justify-start {
    justify-content: flex-start;
}
.font12 {
  font-size: 12px;
}
.font14 {
  font-size: 14px;
}
.font16 {
  font-size: 16px;
}
.font18 {
  font-size: 18px;
}
.font20 {
  font-size: 20px;
}
.font22 {
  font-size: 22px;
}
.font24 {
  font-size: 24px;
}
.footerCol {
  text-transform: uppercase;
}
.default {
  background: #6C5D50;
  color: #fff;
}
.variant2 {
  background: #FFFAF2;
  color: #6C5D50;
}
.variant3 {
  background: #5B272F;
  color: #EAEAE8;
}