.imageWrapper {
    margin-bottom: 14px;
}
.content {
    max-width: 360px;
}
.description {
    padding-top: 25px;
}
.section {
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (max-width: 768px) {
    .txtWrapper {
        width: 100%;
    }
    .content {
        max-width: 100%;
    }
    .imageWrapper img {
        width: 100%;
        height: auto;
    }
    .imageWrapper {
        margin-bottom: 60px;
    }
}