/* Font styles */
@font-face {
    font-family: 'saanslight';
    src: url('fonts/saanslight-webfont.woff2') format('woff2'),
         url('fonts/saanslight-webfont.woff') format('woff'),
         url('fonts/saanslight-webfont.svg#saanslight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'collapselight_italic';
    src: url('fonts/collapse-lightitalic-webfont.woff2') format('woff2'),
         url('fonts/collapse-lightitalic-webfont.woff') format('woff'),
         url('fonts/collapse-lightitalic-webfont.svg#collapselight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body.loading main {
  opacity: 0;
  visibility: hidden;
}
body.loaded main {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in;
}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--foreground);
  font-family: 'saanslight';
  background: #6C5D50;
  color: #EAEAE8;
  font-size: 12px;
  letter-spacing: 0.5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none  ;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.items-center {
    align-items: center;
}
.flex-row {
    flex-direction: row;
}
.flex {
    display: flex;
}
.justify-start {
    justify-content: flex-start;
}
.justify-space-between {
    justify-content: space-between;
}
.centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.fullWidth {
  width: 100%;
}
.fullHeight {
  height: 100vh;
}
.font12 {
  font-size: 12px;
}
.font14 {
  font-size: 14px;
}
.font16 {
  font-size: 16px;
}
.font18 {
  font-size: 18px;
}
.font20 {
  font-size: 20px;
}
.font22 {
  font-size: 22px;
}
.font24 {
  font-size: 24px;
}
.footerCol {
  text-transform: uppercase;
}
button,
input,
textarea {
  font-size: 12px;
  letter-spacing: 0.5px;
  font-family: 'saanslight';
}
.Stone {
  background: #6C5D50;
  color: #EAEAE8;
}
.Stone button,
.Stone input,
.Stone textarea {
  color: #EAEAE8;
}
.White {
  background: #FFFAF2;
  color: #6C5D50;
}
.White button {
  color: #6C5D50;
}
.Pinot {
  background: #5B272F;
  color: #EAEAE8;
}
.Pinot button {
  color: #EAEAE8;
}
.Malt {
  background: #BBAEA1;
  color: #fff;
}
.Malt button {
  color: #fff;
}
.borderRight {
  border-right: 1px solid #938579;
}
.borderTop {
  border-top: 1px solid #938579;
}
.borderBottom {
  border-bottom: 1px solid #938579;
}
.borderLeft {
  border-left: 1px solid #938579;
}

.White .borderRight {
  border-right: 1px solid #D0D0D0;
}
.White .borderTop {
  border-top: 1px solid #D0D0D0;
}
.White .borderBottom {
  border-bottom: 1px solid #D0D0D0;
}
.White .borderLeft {
  border-left: 1px solid #D0D0D0;
}
.White .borderRight {
  border-right: 1px solid #D0D0D0;
}
.White .borderTop {
  border-top: 1px solid #D0D0D0;
}
.White .borderBottom {
  border-bottom: 1px solid #D0D0D0;
}
.White .borderLeft {
  border-left: 1px solid #D0D0D0;
}
.headingOne {
  font-family: 'collapselight_italic';
  font-size: 34px;
  font-style: italic;
  font-weight: 300;
  line-height: 40px;
}
.p20 {
  padding: 20px;
}
.pt20 {
  padding-top: 20px;
}
.pb20 {
  padding-bottom: 20px;
}
.text-light, .hero-text-light {
  color: #BBAEA1;
}
.positionRelative {
  position: relative;
}
.stickyBox {
  position: sticky;
  top: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.section {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
  min-height: 150vh;
  background: #f7f7f7;
  padding: 60px;
}
.image {
  width: 100%;
  height: auto;
  object-fit: cover; /* or contain */
  display: block;
}
.uppercase {
  text-transform: uppercase;
}
.fullContainer {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  display: flex;
  gap: 40px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 120px 20px;
  padding: 20px;
}
.grid > * {
  max-width: 338px;
}
.grid > *:nth-child(3n + 1) {
  justify-self: start;
}
.grid > *:nth-child(3n + 2) {
  justify-self: center;
}
.grid > *:nth-child(3n + 3) {
  justify-self: end;
}
.padding {
  padding-top: var(--desktop-top-padding, 0px);
  padding-bottom: var(--desktop-bottom-padding, 0px);
}
.text-module {
  padding: 124px 0px;
}
.full-width-media {
  padding-top: 100px;
}
.media-section .full-width-media {
  width: 100%;
  padding: 0;
}
.aesthetics .text-light {
  color: #EAEAE8;
}
.toogleBtn,
.Stone .toogleBtn {
    background-color: #EAEAE8;
}
.White .toogleBtn {
    background-color: #6C5D50;
}
.Pinot .toogleBtn {
    background-color: #EAEAE8;
}
.Malt .toogleBtn {
    background-color: #fff;
}
.indexOpen {
  overflow: hidden;
  background: #6C5D50;
  color: #EAEAE8;
}
.indexOpen button {
  color: #EAEAE8;
}
.indexOpen .toogleBtn {
  background-color: #EAEAE8;
}
.innerWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #EAEAE8; 
  height: 100%;
}
.content:last-child {
  border-right: none;
}
@media (min-width: 980px) {
  .hide-desktop {
    display: none !important;
  }
}
@media (max-width: 980px) {
  .no-padding-mobile {
    padding: 0;
  }
  .hide-mobile {
    display: none !important;
  }
  .padding {
    padding-top: var(--mobile-top-padding, 0px);
    padding-bottom: var(--mobile-bottom-padding, 0px);
  }
  .mobile-flex-column {
    flex-direction: column;
  }
  .headingOne {
    font-size: 24px;
    line-height: 28px;
  }
  .text-light {
    color: #EAEAE8;
  }
}
@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid > *:nth-child(3n + 1),
  .grid > *:nth-child(3n + 2),
  .grid > *:nth-child(3n + 3) {
    justify-self: center;
  }
}