/* Font styles */
@font-face {
    font-family: 'saanslight';
    src: url('fonts/saanslight-webfont.woff2') format('woff2'),
         url('fonts/saanslight-webfont.woff') format('woff'),
         url('fonts/saanslight-webfont.svg#saanslight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'collapselight_italic';
    src: url('fonts/collapse-lightitalic-webfont.woff2') format('woff2'),
         url('fonts/collapse-lightitalic-webfont.woff') format('woff'),
         url('fonts/collapse-lightitalic-webfont.svg#collapselight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body.loading main {
  opacity: 0;
  visibility: hidden;
}
body.loaded main {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in;
}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--foreground);
  font-family: 'saanslight';
  font-size: 12px;
  letter-spacing: 0.5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none  ;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.items-center {
    align-items: center;
}
.flex-row {
    flex-direction: row;
}
.flex {
    display: flex;
}
.justify-start {
    justify-content: flex-start;
}
.justify-space-between {
    justify-content: space-between;
}
.fullWidth {
  width: 100%;
}
.font12 {
  font-size: 12px;
}
.font14 {
  font-size: 14px;
}
.font16 {
  font-size: 16px;
}
.font18 {
  font-size: 18px;
}
.font20 {
  font-size: 20px;
}
.font22 {
  font-size: 22px;
}
.font24 {
  font-size: 24px;
}
.footerCol {
  text-transform: uppercase;
}
.default {
  background: #6C5D50;
  color: #EAEAE8;
}
.default button {
  color: #EAEAE8;
}
.variant2 {
  background: #FFFAF2;
  color: #6C5D50;
}
.variant2 button {
  color: #6C5D50;
}
.variant3 {
  background: #5B272F;
  color: #EAEAE8;
}
.variant3 button {
  color: #EAEAE8;
}

.headingOne {
  font-family: 'collapselight_italic';
  font-size: 34px;
  font-style: italic;
  font-weight: 300;
  line-height: 40px;
}
.p20 {
  padding: 20px;
}
.pt20 {
  padding-top: 20px;
}
.pb20 {
  padding-bottom: 20px;
}
.text-light {
  color: #BBAEA1;
}
.positionRelative {
  position: relative;
}
.stickyBox {
  position: sticky;
  top: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.section {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
  min-height: 150vh;
  background: #f7f7f7;
  padding: 60px;
}
.image {
  width: 100%;
  height: auto;
  object-fit: cover; /* or contain */
  display: block;
}
.borderRight {
  border-right: 1px solid #938579;
}
.borderTop {
  border-top: 1px solid #938579;
}
.borderBottom {
  border-bottom: 1px solid #938579;
}
.borderLeft {
  border-left: 1px solid #938579;
}