.footerCta {
  display: flex;
  gap: 107px;
}
.footerCol {
  text-transform: uppercase;
  line-height: 18px;
  letter-spacing: 0.5px;
  max-width: 185px;
}
@media (max-width: 980px) {
  .footerCta {
    flex-direction: column;
    gap: 20px;
  }
}