.teamListing {
    padding-bottom: 140px;
}
.teamWrapper {
    display: flex;
    padding: 20px;
    gap: 132px;
}

.teamImageContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 244px;
}

.teamImage {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.teamList {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.teamMemberItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #957873;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 13px;
}

.memberName {
    flex: 2;
}

.memberTitle {
    flex: 2;
}

.readBio {
    flex: 1;
    text-align: right;
    text-decoration: none;
}

.readBio:hover {
    text-decoration: underline;
}