.projectCard {
    text-align: center;
    padding: 80px 0;
    max-width: 334px;
    margin: 0 auto;
}

/* --- Mobile Styles --- */
.projectCard {
    padding: 50px 0;
}
@media (max-width: 768px) {
    .featureProjectList {
        padding-top: 30px;
    }
}
