.featureProjectList {
    padding: 80px 0 90px;
}
.projectCard {
    text-align: center;
    padding: 80px 0;
    width: 20vw;
    margin: 0 auto;
}
.stickyHeader {
    position: -webkit-sticky;
    position: sticky;
    top: 72px;
    z-index: 10;
}
/* --- Mobile Styles --- */
@media (max-width: 980px) {
    .featureProjectList {
        padding-top: 30px;
    }
    .projectCard {
        padding: 50px 0;
    }
}
