.featureProjectList {
    padding: 80px 0 90px;
}
.projectCard {
    text-align: center;
    padding: 80px 0;
    max-width: 334px;
    margin: 0 auto;
}

/* --- Mobile Styles --- */
@media (max-width: 980px) {
    .featureProjectList {
        padding-top: 30px;
    }
    .projectCard {
        padding: 50px 0;
    }
}
