.container {
  display: flex;
  width: 100%;
}

/* === LEFT COLUMN === */
.leftColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.rightColumn {
  flex: 1;
  position: relative;
  height: 100%;
  overflow: hidden;
}

/* === RESPONSIVE === */
@media (max-width: 1024px) {
   .container {
    flex-direction: column;
    height: auto;
  }

  .leftColumn,
  .rightColumn {
    width: 100%;
    height: auto;
  }
}