.contactDetail {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-transform: uppercase;
    max-width: 210px;
}
.subHeading {
    padding-bottom: 4px;
}
@media (max-width: 980px) {
    .contactDetail {
        max-width: 100%;
    }
}