.floatingGroup {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.honeypot {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.floatingGroup input,
.floatingGroup textarea {
  width: 100%;
  padding: 0 20px 20px;
  border: none;
  background: transparent;
  border-bottom: 1px solid #b0a7a2;
  outline: none;
}
.floatingGroup select {
  width: 100%;
  padding: 0 20px 20px;
  border: none;
  background: transparent;
  border-bottom: 1px solid #b0a7a2;
  outline: none;
  appearance: none;
  color: #EAEAE8;
  text-transform: uppercase;
}
.floatingGroup select option {
  color: #000;
  text-transform: capitalize;
}
.floatingGroup label {
  position: absolute;
  left: 20px;
  top: 0px;
  pointer-events: none;
  font-size: 12px;
  transition: 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.floatingGroup input:focus + label,
.floatingGroup textarea:focus + label,
.floatingGroup input:not(:placeholder-shown) + label,
.floatingGroup textarea:not(:placeholder-shown) + label {
  top: -12px;
}
.floatingGroup select:focus + label,
.floatingGroup select:valid + label {
  top: -12px;
}
.textError {
  color: #ff7474;
  padding-left: 20px;
}
.success {
  padding-left: 20px;
}
.submitBtn {
  background: transparent;
  border: none;
  letter-spacing: 0.5px;
  cursor: pointer;
  margin: 0px 20px;
}
.fullWidth {
  grid-column: span 2;
}
.bottomContact {
  padding: 20px;
}
.serviceList {
  display: flex;
  gap: 4px;
  padding: 30px 20px 20px;
}
.btnLable {
  background: none;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 5px 8px;
  cursor: pointer;
  font-size: 10px;
  line-height: 13px;
}
.btnLable.active {
  background: #938579;
  color: #fff;
}
@media (min-width: 1024px) {
  .bottomContact {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .formGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 1024px) {
  .box {
    min-height: auto !important;
  }
}
@media (max-width: 768px) {
  .bottomContact {
    padding: 50px 0px;
  }
  .contactForm {
    padding: 20px 20px 0px;
  }
  .serviceList {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    padding: 30px 0 0 0;
  }
  .floatingGroup textarea {
    height: 38px;
  }
  .floatingGroup input,
  .floatingGroup textarea {
    padding: 0 0 20px;
  }
  .floatingGroup label {
    left: 0;
  }
  .submitBtn {
    margin: 0px;
  }
}
