
.footer {
  padding: 20px;
}
.footerTop {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--space-xl);
  border-bottom: 1px solid var(--color-border);
  padding-bottom: var(--space-xxl);
}
.company {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-top: 118px;
}
/* --- Mobile Styles --- */
@media (max-width: 768px) {
  .footerTop {
    gap: 90px;
  }
  .logoItem svg {
    width: 74px;
    height: 13px;
  }
  .company {
    margin-top: 90px;
  }
}
