.asheticsCard {
    /* max-width: 446px; */
    width: 20vw;
    margin: 0 auto;
    text-align: center;
}
.imageWrapper {
    padding: 48px 0px;
}
.contentWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.categoryName {
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px; 
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
.description {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}
@media (max-width: 768px) {
  .asheticsCard {
    max-width: 100%;
    padding: 0px 20px;
  }
  .imageWrapper {
    padding: 30px 0;
  }
  .imageWrapper img {
    width: 100%;
    object-fit: cover;
  }
  .relatedImageWrapper {
    padding-top: 0;
  }
}