/* .section:last-child {
  border-right: none;
} */
.box {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

@media (min-width: 768px) {
    .section {
        height: calc(100vh - 53px);
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-right: 1px solid #EAEAE8;
        margin-top: 53px;
    }

    .projectWithManuallyEditable {
        width: 1000px;
    }

    .imageAndText {
        width: 700px;
    }

    .aestheticMaterials,
    .astheticsContact {
        width: 755px;
    }

    .singleMedia {
        width: 765px;
    }

    .relatedAesthetics {
        width: 100vw;
    }

    .full {
        width: 100vw;
    }

    .half {
        width: 50vw;
    }
}

@media (max-width: 768px) {
    .mediaWithTopBottomContent {
        padding-top: 28px;
    }
    .projectWithManuallyEditable {
        padding: 60px 0px;
    }
    .singleMedia {
        padding: 40px 0px;
    }
}