.faqSection {
    padding: 12px 0px 100px;
}
.item {
  border-bottom: 1px solid #938579;
}
.question {
  width: 100%;
  background: none;
  border: none;
  padding: 13px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  cursor: pointer;
  text-align: left;
  text-transform: uppercase;
}
.icon {
  font-size: 20px;
}
.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}
.open {
  max-height: 200px;
}