.paragraph {
  transition: color 0.3s ease;
  line-height: 21px;
}

.paragraph p {
  margin-bottom: 16px;
}

/* Default sizes */
.small {
  font-size: 14px;
}

.medium {
  font-size: 16px;
}

.large {
  font-size: 18px;
}
@media (max-width: 1700px) {
  .small {
    font-size: 13px;
  }
  .paragraph {
    line-height: 19px;
  }
}
@media (max-width: 1450px) {
  .small {
    font-size: 12px;
  }
  .paragraph {
    line-height: 17px;
  }
}
@media (max-width: 1024px) {
  .large {
    font-size: 17px;
  }
}

@media (max-width: 768px) {
  .medium {
    font-size: 15px;
  }
  .large {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .medium {
    font-size: 14px;
  }
  .large {
    font-size: 15px;
  }
}