.box {
  display: flex;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  position: relative;
}
.dividersWrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

.divider {
  position: absolute;
  top: 0;
  bottom: 0;
}