.projectHighlight {
    position: relative;
}
.proOverlyContent {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.contentBottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
}
.title {
    font-family: 'collapselight_italic';
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
}
.description {
    font-size: 14px;
    line-height: 21px;
    max-width: 275px;
}

/* --- Mobile Styles --- */
@media (max-width: 768px) {
    .projectHighlight {
        padding-bottom: 60px;
    }
    .proOverlyContent, .contentBottom {
        position: static;
    }
    .contentBottom {
        padding: 0;
    }
    .highlightContent {
        gap: 20px;
    }
    .imgWrapper {
        padding: 16px 0px 24px;
    }
    .description {
        max-width: max-content;
    }
}