.projectHighlight {
    position: relative;
    height: calc(100vh - 92px);
}
.proOverlyContent {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.contentBottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
}
.title {
    font-family: 'collapselight_italic';
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
}
.description {
    font-size: 14px;
    line-height: 21px;
    max-width: 275px;
}
.imgWrapper {
    height: 100%;
}
@media (max-width: 980px) {
    .projectHighlight {
        padding-bottom: 60px;
        height: auto;
    }
    .proOverlyContent, .contentBottom {
        position: static;
    }
    .contentBottom {
        padding: 0;
    }
    .highlightContent {
        gap: 20px;
    }
    .imgWrapper {
        padding: 16px 0px 24px;
    }
    .description {
        max-width: max-content;
    }
}